@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid black;
  background-color: #f6b061;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h1 {
  color: black;
  font-weight: 600;
  font-size: 1.9rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
    width: 80%;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
    cursor: pointer;
}

.btn-nav :hover {
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  border: 3px solid yellow;
  padding: 2% 5%;
}

.btn-nav-white :hover {
  width: 100%;
  color: white;
  background-color: black;
  border: 3px solid yellow;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
    width: 80%;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
    cursor: pointer;
}

.btn-nav-white h3 {
  color: black;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
} 

.partePublicacoes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 20px 20px 1px;
  margin-top: 30%;
  padding: 2%;
  width: 500px;
  height: 400px;
  margin-left: 15%;
}

.partePublicar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: #f6b061;
  border: 2px solid black;
  padding: 2px;
  width: 100%;
}

input {
  cursor: pointer;
}

.btPostar {
    margin-left: 2%;
    font-size: 15px;
    height: 25px;
    width: 100px;
    border: none;
    background-color: rgb(81, 81, 214);
    cursor: pointer;
    border-radius: 6px;
}

.btPostar:hover {
    background-color: #31daaf;
    border: 2px solid #000;
    color: white;
    transition: all 0.5s ease-in;
    transition-delay: 0.05s;
}